@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared style */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* header section */
nav {
  max-width: 1440px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  height: 130px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.nav-container .logo-title {
  text-align: center;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav-container .logo-title .logo-title-span {
  color: #ff42a5;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}
.menu-container li {
  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.menu-container li {
  display: inline-block;
  margin-left: 20px;
}
#button-follow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: auto;
  padding: 20px;
  margin-left: 20px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}


/* Responsive for mobile device */

@media (max-width: 576px) {
  body {
    background: #fff;
  }

  nav {
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .nav-container {
    margin-top: 40px;
    margin-bottom: 15px;
  }

  .menu-container {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .menu-container li.menu1 {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    margin-bottom: 20px;
  }
}
