@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared style */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  max-width: 1440px;
}

/* header section */
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  height: 130px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.nav-container .logo-title {
  text-align: center;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav-container .logo-title .logo-title-span {
  color: #ff42a5;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}
.menu-container li {
  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.menu-container li {
  display: inline-block;
  margin-left: 20px;
}

.menu-container p {
  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#button-follow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: auto;
  padding: 20px;
  margin-left: 20px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}

/* banner section style*/

.banner {
  background-color: #fff;
  display: flex;
  gap: 50px;
  height: auto;
  justify-content: space-between;
}

.banner-desc {
  flex: content;
  height: auto;
  background-image: url("images/Group14.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  width: 50%;
}

.banner-element {
  margin-top: 130px;
  margin-left: 100px;
}

#banner-title h2 {
  color: #0b0223;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
}

#banner-gradient h1 {
  font-size: 80px;
}
#banner-gradient h1 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-item {
  display: flex;
  margin: 20px 0;
  gap: 10px;
}

.banner-item p {
  color: #534c64;
  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
}

.banner-item img,
p {
  margin: 0;
  font-size: 24px;
}

.banner-button button {
  font-size: 24px;
}

.banner-imgs img {
  width: 700px;
}

.banner-button #btn-1 {
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 40px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  border-style: none;
  height: 40px;
  width: 100px;
}
.banner-button #btn-2 {
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 40px;
  background: #4ec5f7;
  height: 40px;
  width: 135px;
  border-style: none;
  margin-left: 10px;
}

/* main section */

/* card design section */
.videos {
  margin-top: 100px;
}

.videos h2 {
  color: #0b0223;
  text-align: right;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.videos h2 .color-text {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.videos p {
  color: #534c64;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  text-align: center;
}

.video-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 110px;
  margin-right: 110px;
  gap: 5px;
}

.card {
  width: 24%;
}

.card img {
  width: 100%;
}

.card p {
  color: #534c64;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  margin-top: 15px;
}

/* play instant design section */

.instant-play {
  display: flex;
}

.play-section {
  width: 50%;
  display: flex;
  margin-top: 300px;
  margin-bottom: 300px;
  margin-right: 240px;
  margin-left: 200px;
}

.play-section-desc h2,
p {
  text-align: center;
}

.play-section-desc h2 {
  text-align: right;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 125% */
}

.play-section-desc h2 .color-text-instant {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play-section .play-section-desc p {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.play-img {
  position: relative;
}

.play-img-parent {
  position: relative;
  display: inline-block;
}

.play-img-parent img {
  display: block;
}

.play-img-child {
  position: absolute;
  bottom: -330px;
  left: 0;
  transform: translate(-50%, -50%);

}



/* games section */


.games-section{
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.games{
  display: flex;
  align-items: center;
  gap: 10px;
  
}














/* footer section */

footer {
  background-color: #0b0223;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-desc {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-desc img {
  width: 70px;
  margin-right: 10px;
}

.footer-desc h2 {
  text-align: center;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-desc h2 .color-text-footer {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-menu,
.footer-icon,
.footer-link {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-menu li,
.footer-icon a {
  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 30px;
}

.footer-link li {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 30px;
}

.footer-icon a img {
  width: 34px;
  margin-right: 5px;
}

.footer-copyrigght {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

footer li {
  list-style: none;
}
/* Responsive for mobile device */

@media (max-width: 576px) {
  body {
    background: #fff;
  }

  nav {
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .nav-container {
    margin-top: 40px;
    margin-bottom: 15px;
  }

  .menu-container {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .menu-container li.menu1 {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    margin-bottom: 20px;
  }

  .banner {
    flex-direction: column-reverse;
  }

  .banner-imgs img {
    width: 100%;
  }

  .banner-desc {
    margin: 0px;
    width: 100%;
  }

  .banner-element {
    margin-left: 0px;
    margin-top: 50px;
    width: 100%;
  }

  .banner-element #banner-title h2 {
    font-size: 40px;
  }

  .banner-element #banner-gradient h1 {
    font-size: 45px;
    text-align: center;
  }

  .banner-element #banner-title {
    width: 100%;
  }

  .banner-button {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .videos h2 {
    font-size: 23px;
  }

  .videos h2 .color-text {
    font-size: 23px;
  }

  .videos p {
    font-size: 13px;
    margin-top: 5px;
  }

  .video-card {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
  }
  .card img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
  }

  .card p {
    text-align: center;
  }

  .instant-play {
    flex-direction: column;
  }

  .play-section {
    margin: 0;
    margin: 0 auto;
  }
  .play-section-desc h2,
  p {
    text-align: center;
  }

  /* .play-img img{
    width: 100%;
  } */

  .play-img img {
    max-width: 70%; /* Scale down the parent image to fit the screen width */
  }



  footer{
    margin-top: 200px;
    padding-top: 120px;
  }
}
